body {
  font-family: avenir;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(194, 235, 255)
}

h1 {
  color: black;
  text-align: center;
}


h2{
  text-align: center;
  color: Black;
  margin: 4px;
  font-size: 20px;
}

h3 { 
  border-radius: 50px;
  text-align: Left;
  color: Black;
  font-weight: bold;
  font-size:24px;
}

.lesson-title{
  border-radius: 50px;
  text-align: center;
  color: Black;
  font-weight: bold;
  font-size: 20px;
}

.lesson-background{
  background-color: rgb(255, 209, 117);
  margin: 10px;
  padding: 10px;
  border-radius: 11px;
}
.lesson-content{
  font-weight: lighter;
  background: lightgrey;
  padding: 10px;
  border-radius: 11px;
  font-size: 16px;
  text-align: left;
}
.image-format{
  text-align: center;
}
p{
  margin: 10px;
}
